$icon-font-path: "../fonts/";

@import "theme/_bootstrap";

@import 'theme/_colors';
@import 'theme/_spacing';
@import 'theme/_type';
@import 'theme/_svg';
@import 'theme/_border-radius';
@import 'theme/_buttons';
@import 'theme/_links';

@import 'theme/_header';
@import 'theme/_footer';

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
